{
  "jsc": {
    "parser": {
      "syntax": "ecmascript"
    }
  },
  "env": {
    "targets": {
      "node": 17
    }
  },
  "sourceMaps": true,
  "inlineSourcesContent": true,
  "module": {
    "type": "commonjs"
  }
}
